# Movie Analysis

> Hypothetical Situation: Microsoft wants to start a movie film company.

# Load Data

In [5]:
import pandas as pd
import numpy as np
df_bom_gross = pd.read_csv('data/bom.movie_gross.csv.gz')
df_bom_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [12]:
df_bom_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [61]:
df_bom_gross.sort_values(by='domestic_gross',ascending=False).head(25)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
2758,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017
3082,Incredibles 2,BV,608600000.0,634200000,2018
2323,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016
2759,Beauty and the Beast (2017),BV,504000000.0,759500000,2017
2324,Finding Dory,BV,486300000.0,542300000,2016
1875,Avengers: Age of Ultron,BV,459000000.0,946400000,2015
729,The Dark Knight Rises,WB,448100000.0,636800000,2012
1131,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018
0,Toy Story 3,BV,415000000.0,652000000,2010
2767,Wonder Woman,WB,412600000.0,409300000,2017
1128,Iron Man 3,BV,409000000.0,805800000,2013
2322,Captain America: Civil War,BV,408100000.0,745200000,2016
735,The Hunger Games,LGF,408000000.0,286400000,2012
2762,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017
1127,Frozen,BV,400700000.0,875700000,2013
2765,Guardians of the Galaxy Vol. 2,BV,389800000.0,473900000,2017
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011
2327,The Secret Life of Pets,Uni.,368400000.0,507100000,2016
1129,Despicable Me 2,Uni.,368100000.0,602700000,2013

In [10]:
df_title_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
df_title_basics.head(25)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"
20,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy"
21,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
22,tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN
23,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama"
24,tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary

In [9]:
df_title_ratings = pd.read_csv('data/imdb.title.ratings.csv.gz')
df_title_ratings.head(25)

        tconst  averagerating  numvotes
0   tt10356526            8.3        31
1   tt10384606            8.9       559
2    tt1042974            6.4        20
3    tt1043726            4.2     50352
4    tt1060240            6.5        21
5    tt1069246            6.2       326
6    tt1094666            7.0      1613
7    tt1130982            6.4       571
8    tt1156528            7.2       265
9    tt1161457            4.2       148
10   tt1171222            5.1      8296
11   tt1174693            5.8      2381
12   tt1181840            7.0      5494
13   tt1193623            8.0         5
14   tt1199588            5.5        74
15   tt1204784            5.8         6
16   tt1210166            7.6    326657
17   tt1212419            6.5     87288
18   tt1220911            5.0       941
19   tt1229238            7.4    428142
20   tt1232829            7.2    477771
21   tt1235548            6.6      2725
22   tt1243974            5.4     54646
23   tt1250861            6.2       416
24   tt1258812            4.0        21

In [29]:
df_movies = pd.read_csv('data/tmdb.movies.csv.gz')
df_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [30]:
df_budgets = pd.read_csv('data/tn.movie_budgets.csv.gz')
df_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"