# Movie Analysis

> Hypothetical Situation: Microsoft wants to start a movie film company.

# Load Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df_bom_gross = pd.read_csv('data/bom.movie_gross.csv.gz')
df_bom_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [2]:
df_bom_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [3]:
df_bom_gross.sort_values(by='domestic_gross',ascending=False).head(25)

,title,studio,domestic_gross,foreign_gross,year
1872,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015
3080,Black Panther,BV,700100000.0,646900000,2018
3079,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018
1873,Jurassic World,Uni.,652300000.0,"1,019.4",2015
727,Marvel's The Avengers,BV,623400000.0,895500000,2012
2758,Star Wars: The Last Jedi,BV,620200000.0,712400000,2017
3082,Incredibles 2,BV,608600000.0,634200000,2018
2323,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016
2759,Beauty and the Beast (2017),BV,504000000.0,759500000,2017
2324,Finding Dory,BV,486300000.0,542300000,2016
1875,Avengers: Age of Ultron,BV,459000000.0,946400000,2015
729,The Dark Knight Rises,WB,448100000.0,636800000,2012
1131,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013
3081,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018
0,Toy Story 3,BV,415000000.0,652000000,2010
2767,Wonder Woman,WB,412600000.0,409300000,2017
1128,Iron Man 3,BV,409000000.0,805800000,2013
2322,Captain America: Civil War,BV,408100000.0,745200000,2016
735,The Hunger Games,LGF,408000000.0,286400000,2012
2762,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017
1127,Frozen,BV,400700000.0,875700000,2013
2765,Guardians of the Galaxy Vol. 2,BV,389800000.0,473900000,2017
328,Harry Potter and the Deathly Hallows Part 2,WB,381000000.0,960500000,2011
2327,The Secret Life of Pets,Uni.,368400000.0,507100000,2016
1129,Despicable Me 2,Uni.,368100000.0,602700000,2013

In [16]:
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [25]:
df_title_basics = pd.read_csv('data/imdb.title.basics.csv.gz')
df1= df_title_basics.iloc[:, 0:6]
print(df1)

           tconst                                primary_title  \
0       tt0063540                                    Sunghursh
1       tt0066787              One Day Before the Rainy Season
2       tt0069049                   The Other Side of the Wind
3       tt0069204                              Sabse Bada Sukh
4       tt0100275                     The Wandering Soap Opera
...           ...                                          ...
146139  tt9916538                          Kuambil Lagi Hatiku
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
146141  tt9916706                              Dankyavar Danka
146142  tt9916730                                       6 Gunn
146143  tt9916754               Chico Albuquerque - Revelações

                                     original_title  start_year  \
0                                         Sunghursh        2013
1                                   Ashad Ka Ek Din        2019
2                        The Other Side of the Wind        2018
3                                   Sabse Bada Sukh        2018
4                             La Telenovela Errante        2017
...                                             ...         ...
146139                          Kuambil Lagi Hatiku        2019
146140  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
146141                              Dankyavar Danka        2013
146142                                       6 Gunn        2017
146143               Chico Albuquerque - Revelações        2013

        runtime_minutes                genres
0                 175.0    Action,Crime,Drama
1                 114.0       Biography,Drama
2                 122.0                 Drama
3                   NaN          Comedy,Drama
4                  80.0  Comedy,Drama,Fantasy
...                 ...                   ...
146139            123.0                 Drama
146140              NaN           Documentary
146141              NaN                Comedy
146142            116.0                   NaN
146143              NaN           Documentary

[146144 rows x 6 columns]

In [19]:
df_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [34]:
df4= df3.sort_values(by='numvotes',ascending=False).head(50)
df4[df4['numvotes'] > 50000].sort_values(by='averagerating',ascending=False)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
2387,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
280,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",8.6,1299334
26774,tt2582802,Whiplash,Whiplash,2014,106.0,"Drama,Music",8.5,616916
43419,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,670926
7125,tt1675434,The Intouchables,Intouchables,2011,112.0,"Biography,Comedy,Drama",8.5,677343
12072,tt1853728,Django Unchained,Django Unchained,2012,165.0,"Drama,Western",8.4,1211405
2241,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,1387769
91,tt0435761,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218
507,tt0993846,The Wolf of Wall Street,The Wolf of Wall Street,2013,180.0,"Biography,Crime,Drama",8.2,1035358
1291,tt1201607,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",8.1,691835
15493,tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301
386,tt0892769,How to Train Your Dragon,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
21198,tt2278388,The Grand Budapest Hotel,The Grand Budapest Hotel,2014,99.0,"Adventure,Comedy,Crime",8.1,633604
34640,tt3315342,Logan,Logan,2017,137.0,"Action,Drama,Sci-Fi",8.1,560270
325,tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,1183655
20995,tt2267998,Gone Girl,Gone Girl,2014,149.0,"Drama,Mystery,Thriller",8.1,761592
2524,tt1392190,Mad Max: Fury Road,Mad Max: Fury Road,2015,120.0,"Action,Adventure,Sci-Fi",8.1,780910
1091,tt1130884,Shutter Island,Shutter Island,2010,138.0,"Mystery,Thriller",8.1,1005960
15327,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,948394
6702,tt1663202,The Revenant,The Revenant,2015,156.0,"Action,Adventure,Biography",8.0,621193
2831,tt1431045,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,820847
3565,tt1504320,The King's Speech,The King's Speech,2010,118.0,"Biography,Drama,History",8.0,593629
38441,tt3659388,The Martian,The Martian,2015,144.0,"Adventure,Drama,Sci-Fi",8.0,680116
25595,tt2488496,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,784780
12716,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,2014,132.0,"Action,Adventure,Sci-Fi",8.0,620079
16828,tt2084970,The Imitation Game,The Imitation Game,2014,114.0,"Biography,Drama,Thriller",8.0,620834
439,tt0947798,Black Swan,Black Swan,2010,108.0,"Drama,Thriller",8.0,648854
5988,tt1631867,Edge of Tomorrow,Edge of Tomorrow,2014,113.0,"Action,Sci-Fi",7.9,546284
397,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,719629
965,tt1074638,Skyfall,Skyfall,2012,143.0,"Action,Adventure,Thriller",7.8,592221
1173,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,2013,161.0,"Adventure,Fantasy",7.8,565563
11797,tt1843866,Captain America: The Winter Soldier,Captain America: The Winter Soldier,2014,136.0,"Action,Adventure,Sci-Fi",7.8,666252
36661,tt3498820,Captain America: Civil War,Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi",7.8,583507
29048,tt2802144,Kingsman: The Secret Service,Kingsman: The Secret Service,2014,129.0,"Action,Adventure,Comedy",7.7,544510
1752,tt1285016,The Social Network,The Social Network,2010,120.0,"Biography,Drama",7.7,568578
3053,tt1454468,Gravity,Gravity,2013,91.0,"Drama,Sci-Fi,Thriller",7.7,710018
1672,tt1270798,X-Men: First Class,X: First Class,2011,131.0,"Action,Adventure,Sci-Fi",7.7,608930
900,tt1045658,Silver Linings Playbook,Silver Linings Playbook,2012,122.0,"Comedy,Drama,Romance",7.7,621018
14060,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,2013,146.0,"Action,Adventure,Sci-Fi",7.5,575455
24058,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594
6949,tt1670345,Now You See Me,Now You See Me,2013,115.0,"Crime,Mystery,Thriller",7.3,553156
1851,tt1300854,Iron Man 3,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi",7.2,692794
2523,tt1392170,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,795227
217,tt0770828,Man of Steel,Man of Steel,2013,143.0,"Action,Adventure,Sci-Fi",7.1,647288
281,tt0816711,World War Z,World War Z,2013,116.0,"Action,Adventure,Horror",7.0,553751
1423,tt1228705,Iron Man 2,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
251,tt0800369,Thor,Thor,2011,115.0,"Action,Adventure,Fantasy",7.0,683264
124,tt0458339,Captain America: The First Avenger,Captain America: The First Avenger,2011,124.0,"Action,Adventure,Sci-Fi",6.9,668137
14651,tt1981115,Thor: The Dark World,Thor: The Dark World,2013,112.0,"Action,Adventure,Fantasy",6.9,540996
30730,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy",6.5,576909

In [27]:
df_title_ratings = pd.read_csv('data/imdb.title.ratings.csv.gz')


df3 = pd.merge(df1, df_title_ratings, on=['tconst'], how='inner')
df3.sort_values(by='averagerating',ascending=False).head(50)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
51109,tt5089804,Fly High: Story of the Disc Dog,Fly High: Story of the Disc Dog,2019,65.0,Documentary,10.0,7
65944,tt7259300,Calamity Kevin,Calamity Kevin,2019,77.0,"Adventure,Comedy",10.0,6
71577,tt8730716,Pick It Up! - Ska in the '90s,Pick It Up! - Ska in the '90s,2019,99.0,Documentary,10.0,5
73616,tt9715646,Renegade,Renegade,2019,NaN,Documentary,10.0,20
65755,tt7227500,Ellis Island: The Making of a Master Race in A...,Ellis Island: The Making of a Master Race in A...,2018,70.0,"Documentary,History",10.0,6
878,tt10378660,The Dark Knight: The Ballad of the N Word,The Dark Knight: The Ballad of the N Word,2018,129.0,"Comedy,Drama",10.0,5
64646,tt6991826,A Dedicated Life: Phoebe Brand Beyond the Group,A Dedicated Life: Phoebe Brand Beyond the Group,2015,93.0,Documentary,10.0,5
9745,tt1770682,Freeing Bernie Baran,Freeing Bernie Baran,2010,100.0,"Crime,Documentary",10.0,5
702,tt10176328,Exteriores: Mulheres Brasileiras na Diplomacia,Exteriores: Mulheres Brasileiras na Diplomacia,2018,52.0,Documentary,10.0,5
49925,tt4944240,Dog Days in the Heartland,Dog Days in the Heartland,2017,NaN,Drama,10.0,5
53408,tt5344358,All Around Us,All Around Us,2019,NaN,Documentary,10.0,6
42970,tt4109192,I Was Born Yesterday!,I Was Born Yesterday!,2015,31.0,Documentary,10.0,6
27335,tt2632430,Hercule contre Hermès,Hercule contre Hermès,2012,72.0,Documentary,10.0,5
60782,tt6295832,Requiem voor een Boom,Requiem voor een Boom,2016,48.0,Documentary,10.0,5
53689,tt5390098,The Paternal Bond: Barbary Macaques,Atlas Mountain: Barbary Macaques - Childcaring...,2015,59.0,Documentary,10.0,5
50085,tt4960818,Revolution Food,Revolution Food,2015,70.0,Documentary,10.0,8
73741,tt9820678,Moscow we will lose,Moscow we will lose,2019,51.0,Documentary,9.9,18
73797,tt9866708,Wild Karnataka,Wild Karnataka,2019,53.0,Documentary,9.9,10
73343,tt9537008,Gini Helida Kathe,Gini Helida Kathe,2019,138.0,Drama,9.9,417
73648,tt9743544,The Wedding Present: Something Left Behind,The Wedding Present: Something Left Behind,2018,87.0,Documentary,9.9,8
73650,tt9747294,LA Foodways,LA Foodways,2019,56.0,Documentary,9.9,8
36077,tt3450432,Send My Mail to Nashville,Send My Mail to Nashville,2013,96.0,"Biography,Documentary,Music",9.8,5
73809,tt9880724,Verdict 19,Verdict 19,2019,NaN,"Biography,Documentary,Drama",9.8,28
50463,tt5012400,"Pieces of Lives, Pieces of Dreams","Pieces of Lives, Pieces of Dreams",2012,100.0,Documentary,9.8,6
888,tt10404502,Grisaia: Phantom trigger the animation 02. Sou...,Grisaia: Phantom trigger the animation 02. Sou...,2019,54.0,Action,9.8,5
42084,tt4023464,Our Friend Jon,Our Friend Jon,2018,NaN,Documentary,9.8,28
64485,tt6961300,Goreci skof,Goreci skof,2017,55.0,Documentary,9.8,5
72266,tt8986906,RISE: The Story of Augustines,RISE: The Story of Augustines,2018,80.0,"Documentary,Music",9.8,45
23014,tt2357225,Mujeres republicanas,Mujeres republicanas,2010,82.0,Documentary,9.8,5
68576,tt7813466,Transhumance,Transhumance,2018,52.0,Documentary,9.8,5
40726,tt3862814,Maasai 10th Lost Tribe of Israel,Maasai 10th Lost Tribe of Israel,2014,61.0,"Biography,Documentary,Drama",9.8,5
48853,tt4818518,Hiro's Table,Hiro's Table,2018,NaN,Documentary,9.8,5
705,tt10177960,Dreaming of a Vetter World,Dreaming of a Vetter World,2018,77.0,Documentary,9.8,6
68224,tt7724146,A Mediocre Documentary with Tom And Dan,A Mediocre Documentary with Tom And Dan,2018,79.0,"Comedy,Documentary",9.8,5
59535,tt6143970,La Lección de Anatomía,La Lección de Anatomía,2019,NaN,Documentary,9.8,28
60598,tt6271662,Hizam,Hizam,2016,86.0,Documentary,9.8,6
8946,tt1740810,Love on a Leash,Love on a Leash,2010,10.0,"Documentary,Family,Romance",9.7,25
669,tt10146728,Foosballers,Foosballers,2019,NaN,"Comedy,Documentary,Sport",9.7,22
67350,tt7541970,From Shock to Awe,From Shock to Awe,2017,87.0,"Documentary,War",9.7,6
73696,tt9787524,DOSED,DOSED,2019,82.0,Documentary,9.7,72
65296,tt7131622,Once Upon a Time ... in Hollywood,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama",9.7,5600
48904,tt4824256,Blackbear,Submission,2019,94.0,"Drama,Sport",9.7,6
69801,tt8118944,My Darling Son,My Darling Son,2018,61.0,Documentary,9.7,32
51823,tt5160520,Silver Wings/Flying Dreams The Complete Story ...,Silver Wings/Flying Dreams The Complete Story ...,2015,50.0,"Biography,Documentary,Drama",9.7,6
71545,tt8718580,Eghantham,Eghantham,2018,125.0,Drama,9.7,639
649,tt10121022,Freie Räume,Freie Räume,2019,102.0,Documentary,9.7,7
730,tt10204276,Soldiers Without Guns,Soldiers Without Guns,2019,92.0,Documentary,9.7,30
66714,tt7414870,MANRY AT SEA ~ In the Wake of a Dream,MANRY AT SEA ~ In the Wake of a Dream,2018,94.0,Documentary,9.7,48
66558,tt7385120,The Things We Keep,The Things We Keep,2018,73.0,Documentary,9.6,5
69770,tt8109740,30 KM/H,30 KM/H,2018,68.0,"Adventure,Documentary",9.6,8

In [11]:
df_title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [6]:
df_movies = pd.read_csv('data/tmdb.movies.csv.gz')
df_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [7]:
df_budgets = pd.read_csv('data/tn.movie_budgets.csv.gz')
top_25 = df_budgets.head(25)
top_25 = top_25.astype(float)
top_25.plot(x='worldwide_gross', y='production_budget', kind='bar')
plt.show()

ValueError: could not convert string to float: 'Dec 18, 2009'

In [51]:
top_25

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"